
        
        <div class="rubrik">
            <h2>Här kan du logga in</h2>
        </div>
        
        <div class="art7">
            <input type="text" placeholder="Förnamn">
        </div>
        
        <div class="art8">
            <input type="text" placeholder="Efternamn">
        </div>
        
        <div class="art9">
            <input type="text" placeholder="E-post adress">
        </div>
        
        <div class="art10">
            <input type="password" placeholder="lösenord">
        </div>
        
        <div class="regist">
            <button type="button">Registrera dig</button>
        </div>
        
        <div class="redan">
            <button type="button">Har du redan ett konto?  <br>Klicka här</br></button>
        </div>
        
        <div class="footer4">
            <p>Karl Ny</p><p>ITG-Göteborg</p>
        </div>
        
        <div class="slut">
            