
        
        <div class="art5">
            <h2>Adress</h2>
            <p>Vi finns utspridda på 3 platser i Göteborg
                <ul>
                    <li>Tomtegatan 5</li>
                    <li>Fiskebäcksvägen 82</li>
                    <li>Sisjövägen 8</li>
                </ul>
            </p>
        
        </div>
        
        <div class="art6">
            <h2>Telefonnummer</h2>
            <ul>
                <p>PT Mattias Lindgren: 070 52 66 88</p>
                <p>PT Stella Ladugård: 073 64 64 87</p>
                <p>PT Maria Källgren: 070 78 38 43 </p>
                <p>E-post: seniortraning@mail.se</p>
            </ul>    
        </div>
        
        <div class="bild5">
            <img src="img/kontakt.jpg" alt="bild">
        </div>
        
        <div class="bild6">
            <img src="img/kontakt2.jpg" alt="">
        </div>

        <div class="footer3">
            <p>Karl Ny</p><p>ITG-Göteborg</p>
        </div>
        