

        <div class="art3">
            <h2>Över 40 år av erfarenhet</h2>
            <p>Det finns många olika varianter av Lorem Ipsum, men majoriteten av dessa har ändrats på någotvis. Antingen med inslag av humor, eller med inlägg av ord som knappast ser trovärdiga ut. Skall man använda långa stycken av Lorem Ipsum bör man försäkra sig om att det inte gömmer sig något pinsamt mitt i texten. Lorem Ipsum-generatorer på internet tenderar att repetera Lorem Ipsum-texten styckvis efter behov.</p>
        </div>
        
        <div class="bild3">
            <img src="img/träning.jpg" alt="bild">
        </div>
        
        <div class="bild4">
            <img src="img/träning2.jpg" alt="bild">
        </div>
        
        <div class="art4">
            <h2>Samarbeten</h2>
            <p>Den ursprungliga Lorem Ipsum-texten från 1500-talet är återgiven nedan för de intresserade. Styckena 1.10.32 och 1.10.33.</p>
        </div>

        <div class="footer2">
            <p>Karl Ny</p><p>ITG-Göteborg</p>
        </div>
        
        <div class="blank">

        </div>